<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/cv.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <main>
        <div class="cv">
            <aside class="information">
                <section class="information-person">
                    <article class="presentation">
                        <img src="../public/img/photo.jpeg" class="presentation--photo-profil" alt="avatar">
                        <h2 class="presentation--name">Javaharlal Edward</h2>
                    </article>
                    <article class="description">
                        <p class="description--item"><ion-icon name="search"></ion-icon>Developpeur fullstack JS</p>
                        <p class="description--item"><ion-icon name="home"></ion-icon>Paris</article></p>
                        <p class="description--item"><ion-icon name="mail"></ion-icon>edward.javaharlal@gmail.com</p>
                        <p class="description--item"><ion-icon name="call"></ion-icon>+33 (0)6 68 67 99 92</p>
                    </article>
                    <div class="separator"></div>
                    <article class="skills">
                        <p class="head-title">
                            <b>
                                <ion-icon name="star"></ion-icon>Skills
                            </b>
                        </p>
                        <div class="skills-item">
                            <p class="skills-item--name">JavaScript</p>
                            <div class="skills-item--progress-container">
                                <div class="skills-item--progress-bar skills-item--progress-bar-js">
                                    <p class="skills-item--progress-text">80%</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-item">
                            <p class="skills-item--name">NodeJS</p>
                            <div class="skills-item--progress-container">
                                <div class="skills-item--progress-bar skills-item--progress-bar-njs">
                                    <p class="skills-item--progress-text">60%</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-item">
                            <p class="skills-item--name">HTML/CSS</p>
                            <div class="skills-item--progress-container">
                                <div class="skills-item--progress-bar skills-item--progress-bar-hc">
                                    <p class="skills-item--progress-text">50%</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-item">
                            <p class="skills-item--name">Oracle PL/SQL</p>
                            <div class="skills-item--progress-container">
                                <div class="skills-item--progress-bar skills-item--progress-bar-pl">
                                    <p class="skills-item--progress-text">60%</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-item">
                            <p class="skills-item--name">Git</p>
                            <div class="skills-item--progress-container">
                                <div class="skills-item--progress-bar skills-item--progress-bar-git">
                                    <p class="skills-item--progress-text">40%</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-item">
                            <p class="skills-item--name">Autres</p>
                            <p class="skills-item--other">EJS, Handlebar, Bootstrap, Fondation, Bulma, Selenium, SQL, Mantis, Linux, IoS, Windows </p>
                        </div>
                    </article>
                    <div class="separator"></div>
                    <articl class="language">
                        <p class="head-title">
                            <ion-icon name="earth"></ion-icon>Langues
                        </p>
                        <div class="language-item">
                            <p class="language-item--name">Français</p>
                            <div class="language-item--progress-container">
                                <div class="language-item--progress-bar language-item--progress-bar-french">
                                </div>
                            </div>
                        </div>
                        <div class="language-item">
                            <p class="language-item--name">Anglais</p>
                            <div class="language-item--progress-container">
                                <div class="language-item--progress-bar language-item--progress-bar-english">
                                </div>
                            </div>
                        </div>
                        <div class="language-item">
                            <p class="language-item--name">Tamil</p>
                            <div class="language-item--progress-container">
                                <div class="language-item--progress-bar language-item--progress-bar-tamil">
                                </div>
                            </div>
                        </div>
                        <div class="language-item">
                            <p class="language-item--name">Hangul (한국어)</p>
                            <div class="language-item--progress-container">
                                <div class="language-item--progress-bar language-item--progress-bar-hangul">
                                </div>
                            </div>
                        </div>
                    </article>                
                </section>
                <section class="hobbies">
                    <p class="head-title">
                        <ion-icon name="game-controller"></ion-icon>Centre d'intérêt
                    </p>
                    <div class="hobbies-items">
                        <article class="hobbies-item">
                            <p class="hobbies-item--title">Cinéma</p>
                            <ul>
                                <li>Thriller</li>
                                <li>Film policier</li>
                                <li>Fantasy</li>
                                <li>Film d’animation</li>
                                <li>Biopic</li>
                                <li>Film étranger</li>
                            </ul>
                        </article>
                        <article class="hobbies-item">
                            <p class="hobbies-item--title">Lecture</p>
                            <ul>
                                <li>Policier</li>
                                <li>Roman historique</li>
                                <li>Héroïc-fantaisy</li>
                                <li>Biographie</li>
                                <li>Bande dessinée</li>
                                <li>Manga</li>
                                <li>Comics</li>
                            </ul>
                        </article>
                        <article class="hobbies-item">
                            <p class="hobbies-item--title">Sport</p>
                            <ul>
                                <li>Basketball</li>
                                <li>Handball</li>
                                <li>Baseball</li>
                            </ul>
                        </article>
                        <article class="hobbies-item">
                            <p class="hobbies-item--title">Jeux vidéo</p>
                            <ul>
                                <li>Plate-forme</li>
                                <li>Épouvante-horreur</li>
                                <li>sport</li>
                                <li>Rpg</li>
                            </ul>
                        </article>
                    </div>
                </section>
            </aside>
            <div class="experience">
                <section class="experience-pro">
                    <article class="pro-resume">
                        <p class="head-title">
                            <ion-icon name="briefcase"></ion-icon> Experiences
                        </p>
                        <p class="pro-resume--title">Janvier 2016 - Janvier 2022, Addstones-GFI/Inetum :</p>
                        <div class="pro-resume--synopsis"> 
                            <p>Participation à la transformation de la version client/ serveur du progiciel X7 de
                                relève des compteurs et de facturation des consommations d’eau ou d’électricité
                                vers une nouvelle web, et aux évolutions fonctionnelles du progiciel :
                            </p>
                            <ul>
                                <li>Maintenance évolutive et corrective</li>
                                <li>Réalisation des demandes spécifiques aux clients</li>
                                <li>Étude et mise en place d’un server éditique</li>
                            </ul>
                            <p>Environnement : Windows, Javascript, Jquery, Node JS, Oracle, 
                                Jasper Software, SVN
                            </p>
                        </div>
                    </article>
                    <article class="pro-resume">
                        <p class="pro-resume--title"> Mai 2015 - Juillet 2015, VLBB:
                        </p>
                        <div class="pro-resume--synopsis"> 
                            <ul>
                                <li>Création d’un site internet</li>
                                <li>Application d’un cahier des charges </li>
                            </ul>
                        </div>                        
                    </article>
                    
                </section>
                <section class="experience-other">
                    <article class="other-resume">
                        <p class="head-title">
                            <ion-icon name="wallet"></ion-icon>Autres experiences
                        </p>
                        <p class="pro-resume--title"> Juillet 2014 - Octobre 2014, agent d’exploitation, Skyroad:
                        </p>
                        <div class="pro-resume--synopsis"> 
                            <ul>
                                <li>Responsable de service</li>
                                <li>Supervision</li>
                                <li>Relation client et sous traitant</li>
                            </ul>
                        </div> 
                    </article>
                    <article class="other-resume">
                        <p class="pro-resume--title"> Juillet 2010 - Juin 2011: assistant PHMR, Passerelle CDG:
                        </p>
                        <div class="pro-resume--synopsis"> 
                            <ul>
                                <li>Aide aux Personnes Handicapés et/ou à Mobilité Réduite (PHMR)</li>
                                <li>Travail dans un environnement fortement réglementé</li>
                            </ul>
                        </div> 
                    </article>
                    <article class="other-resume">
                        <p class="pro-resume--title"> Avril 2007 - Octobre 2007: animateur-coordinateur:
                        </p>
                        <div class="pro-resume--synopsis"> 
                            <ul>
                                <li>Gestion de groupes d’enfant (4 à 16 ans)</li>
                                <li>Coordination des intervenants</li>
                            </ul>
                        </div> 
                    </article>
                </section>
                <section class="formation">
                    <article class="formation-item">
                        <p class="head-title">
                            <ion-icon name="document"></ion-icon>Formations
                        </p>
                        <p class="formation-item--date">
                            Février 2023 - Septembre 2023 :
                        </p>
                        <div class="formation-item--synopsis">
                            Formation O'Clock fullstack JavaScript
                            <ul>
                                <li>HTML/CSS</li>
                                <li>JavaScript</li>
                                <li>NodeJS</li>
                                <li>Express</li>
                                <li>EJS</li>
                                <li>React</li>
                            </ul>
                        </div>
                    </article>
                    <article class="formation-item">
                        <p class="formation-item--date">
                            Septembre 2014 - Juin 2015 :
                        </p>
                        <div class="formation-item--synopsis">
                            Formation Développeur/Intégrateur Web option PHP orienté objet, Ifocop
                            <ul>
                                <li>HTML/CSS</li>
                                <li>JavaScript</li>
                                <li>PHP</li>
                                <li>Symfony</li>
                            </ul>
                        </div>
                    </article>
                    <article class="formation-item">
                        <p class="formation-item--date">
                            Septembre 2013 - Fevrier 2014 :
                        </p>
                        <div class="formation-item--synopsis">
                            cycle d’ingénierie "architecte logiciel développeur d’application", École des Technologies Numériques Appliquées (ETNA)
                            <ul>
                                <li>HTML/CSS</li>
                                <li>JavaScript</li>
                                <li>C</li>
                                <li>Java</li>
                                <li>PHP</li>
                                <li>Bash</li>
                            </ul>
                        </div>
                    </article>
                    <article class="formation-item">
                        <p class="formation-item--date">
                            Juin 2013:
                        </p>
                        <div class="formation-item--synopsis">
                            niveau Master 2 d’histoire Université Paris Ouest La Défense
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <section class="link">
            <a href="https://github.com/HagenoE" target="_blank"><ion-icon name="logo-github" class="icon-footer"></ion-icon></a>
            <a href="https://www.linkedin.com/in/edward-javaharlal-168a3a7b/" target="_blank"><ion-icon name="logo-linkedin" class="icon-footer"></ion-icon></a>
        </section>
        
    </footer>
</body>
</html>
